name: Sync Upstream

on:
  schedule:
    - cron: '0 */12 * * *' # every 12 hours
  workflow_dispatch:
  push:
    branches: [main, sync]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/Hong-Kong-Emergency-Coordination-Hub/Hong-Kong-Fire-Documentary.git
          git fetch upstream

      - name: Merge upstream changes
        run: |
          git merge upstream/main --no-edit || true

      - name: Push changes
        run: |
          git push origin main
